body {
    background-color: aqua;

}

h1 {
    display: flex;
    justify-content: center;
}

.game-buttons {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    grid-gap: 20px;
    position: relative;
    justify-content: center;
}

.yellow-square {
    background-color: yellow;
    border-radius: 25%;
    box-shadow: 5px 5px 5px grey;
    border-style: dotted;
    border-color: grey;
}
.yellow-square:active,
.yellow-square.activated {
    background-color: grey;
}

.red-square {
    background-color: red;
    border-radius: 25%;
    box-shadow: 5px 5px 5px grey;
    border-style: dotted;
    border-color: grey;
}

.red-square:active,
.red-square.activated {
    background-color: grey;
}

.blue-square {
    background-color: blue;
    border-radius: 25%;
    box-shadow: 5px 5px 5px grey;
    border-style: dotted;
    border-color: grey;
}

.blue-square:active,
.blue-square.activated {
    background-color: grey;
}

.green-square {
    background-color: green;
    border-radius: 25%;
    box-shadow: 5px 5px 5px grey;
    border-style: dotted;
    border-color: grey;
}
.green-square:active,
.green-square.activated {
    background-color: grey;
}

/* h4 {
    display: flex;
    justify-content: center; 
} */

.users {
    display: grid;
    position: relative;
    justify-content: center;
    padding-top: 20px;
    grid-template-columns: 150px 150px;
}

.player {
    border-style: solid;
    border-color: black;
    text-align: center;
}

.computer {
    border-style: solid;
    border-color: black;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 50px;
}

button {
    font-size: 20px;
    background-color: indianred;
    border-radius: 40%;
}