body {
    background-color: aqua;
}

/* header {
    background-color: rgb(226, 183, 43);
} */

/* h1 {
    display: flex;
    justify-content: center;
} */

.hidden {
    display: none !important;
}

.game-buttons {
    display: grid;
    grid-template-rows: 44vh 44vh;
    grid-template-columns: 49vw 49vw;
    grid-gap: 3px;
    position: relative;
    justify-content: center;
    /* background-image: url(https://is5-ssl.mzstatic.com/image/thumb/Purple128/v4/37/3c/42/373c4288-94b4-1d2d-ce5a-c9bdaae75d4e/source/512x512bb.jpg); */
    background-size: contain;
    background-position: center;
}

.yellow-square {
    background-color: rgb(135, 135, 4);
    border-radius: 25%;
    box-shadow: 5px 5px 5px grey;
    /* border: 2px solid rgb(138, 138, 3); */
}

.yellow-square:active,
.yellow-square.activated {
    background-color: yellow;
}

.red-square {
    background-color: rgb(159, 1, 1);
    border-radius: 25%;
    box-shadow: 5px 5px 5px grey;
    /* border: 2px solid rgb(177, 14, 14); */
}

.red-square:active,
.red-square.activated {
    background-color: red;
}

.blue-square {
    background-color: rgb(1, 1, 159);
    border-radius: 25%;
    box-shadow: 5px 5px 5px grey;
    /* border: 2px solid rgb(2, 2, 120); */
}

.blue-square:active,
.blue-square.activated {
    background-color: blue;
}

.green-square {
    background-color: rgb(2, 86, 2);
    border-radius: 25%;
    box-shadow: 5px 5px 5px grey;
    border: 2px solid rgb(2, 70, 2);
}

.green-square:active,
.green-square.activated {
    background-color: green;
}

.users {
    display: grid;
    position: relative;
    justify-content: center;
    padding-top: 20px;
    grid-template-columns: 150px 150px;
}

.player {
    border-style: solid;
    border-color: black;
    text-align: center;
}

.computer {
    border-style: solid;
    border-color: black;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 50px;
}

button {
    font-size: 20px;
    background-color: indianred;
    border-radius: 40%;
}

